* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkest: #313944;
  --darker: #46606d;
  --dark: #5b8092;
  --dark1: #74879b;
  --dark2: #8090a0;
  --dark3: #8796a6;
  --blue: #42b5e8;
  --blue1: #68c4ed;
  --blue2: #8ed3f1;
  --blue3: #b3e1f6;
  --green: #97e493;
  --green1: #ace9a9;
  --green2: #c1efbe;
  --green3: #d5f4d4;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--dark);
}

#map {
  height: 80vh;
  width: 100%;
}

@media (min-width: 720px) {
  html {
    font-size: 130%;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 160%;
  }
}
