.bg {
  background: #F3F4F6;
  min-height: 90vh;
  padding: 2rem 0;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 3rem;
}

.noentries {
  text-align: center;
  font-size: 2rem;
}

.shame {
  text-align: center;
  font-size: 1.2rem;
}